<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Ui\Controller\Adminhtml\Export\GridToCsv">
        <plugin name="webjump_reviews_export_acl"
                type="Webjump\ProductReviews\Plugin\ExportAuthorization"/>
    </type>

    <type name="Magento\Ui\Controller\Adminhtml\Export\GridToXml">
        <plugin name="webjump_reviews_export_acl"
                type="Webjump\ProductReviews\Plugin\ExportAuthorization"/>
    </type>

</config>