<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webjump_ProductReviews::reviews" title="Avaliações de produtos" module="Webjump_ProductReviews" sortOrder="90" parent="Magento_Catalog::catalog" action="webjump_productreviews/review/index" resource="Webjump_ProductReviews::reviews"/>
    </menu>
</config>
