<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webjump\ProductReviews\Api\ReviewRepositoryInterface"
                type="Webjump\ProductReviews\Model\ReviewRepository"/>
    <preference for="Webjump\ProductReviews\Api\Data\ReviewInterface"
                type="Webjump\ProductReviews\Model\Review"/>
</config>